:root{
    --secondary-color: #030712;
    --navbar-color: rgba(0, 5, 15, 0.8);
    --main-font-color: #c4d5db;
    --secondary-font-color: white;
    --bg-color: rgb(255, 255, 255);
    --img-shadow-color: #374151;
    --main-color: #030712;
    --shadow-color: rgb(0, 0, 0);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--main-font-color);
    background-color: var(--main-color);
}

main {
    padding: 0 20px;
}

.navbar-toggler {
    border: none;
}

.navbar {
    z-index: 1;
    position: sticky;
    top: 0;
    background-color: var(--navbar-color);
    backdrop-filter: blur(15px);
    padding: 0.3em 15px;
    border-bottom: 2px solid var(--secondary-color);
}

.container-fluid {
    max-width: 1200px;
}

.navbar-brand {
    color: var(--secondary-font-color);
    font-size: 30px;
    font-weight: bold;
}

.nav-item {
    align-self: center;
    padding-right: 0.5em;
    font-weight: 550;
}

.nav-link{
    color: var(--secondary-font-color);
    &:hover{
        color: rgb(206, 206, 206);
    }
}

.nav-download {
    background-color: var(--bg-color);
    color: var(--secondary-color);
    border: 2px solid var(--bg-color);
    padding: 0.3em 1em;
    margin-left: 3em;
    border-radius: 12px;
}

.title-container {
    padding-top: 6.5em;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 10%;
    padding-bottom: 6em;
}

.info__img{
    width: 1.7em;
    margin-right: 0.5em;
}

.entering {
    max-width: 730px;

    &__title {
        font-weight: bold;
        font-size: 3.6em;
        color: var(--secondary-font-color);
    }

    &__description {
        padding-bottom: 2em;
    }

    &__img-container {
        margin-top: 3em;
        position: relative;
    }

    &__img__shadow {
        width: 17em;
        height: 19em;
        background-color: var(--img-shadow-color);
    }

    &__img {
        width: 17.5em;
        border: 10px solid var(--main-color);
        position: absolute;
        top: -3.2em;
        left: -2.8em;
    }
}

.section{
    &__description{
        font-size: 1.3em;
        padding-bottom: 1em;
    }
}

.green-dot {
    display: inline-block;
    background-color: rgb(1, 184, 1);
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-right: 1em;
    margin-left: 0.3em;
}

.entering__bottom-img {
    padding-right: 0.2em;
    margin-top: 2em;
}

.about-container{
    text-align: center;
    padding-top: 6em;
    }

#about{
    margin-bottom: 3em;
}

.content{
        &-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 12.5%;
    }
    &__title {
        font-size: 0.9em;
        font-weight: bold;
        display: inline-block;
        background-color: var(--img-shadow-color);
        padding: 0.4em 1.55em;
        border-radius: 25px;
        margin-bottom: 1em;
    }
    &__description-container {
        text-align: start;
        max-width: 550px;
    }

    &__description-title {
        font-size: 1.8em;
        font-weight: 550;
        padding-bottom: 0.5em;
    }

    &__description {
        padding-bottom: 0.9em;
        &__list{
            display: grid;
            grid-template-columns: auto auto;
            &__element{
                padding-right: 1.2em;
            }
        }
    }

    &__img-container {
        margin-top: 3em;
        position: relative;
    }

    &__img__shadow {
        width: 25em;
        height: 29.5em;
        background-color: var(--img-shadow-color);
    }

    &__img {
        border: 10px solid var(--main-color);
        position: absolute;
        top: -3.2em;
        left: 2.8em;
    }
}

.skills{
    &-container{
        padding-top: 5.5em;
        margin-top: 3em;
        padding-bottom: 4em;
    }
    &__apps{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(8, auto);
        gap: 3.5%;
    }
    &__description{
        padding-bottom: 1.5em;
    }
}

.app{
    align-self: center;
    &__name{
        font-size: 1.2em;
    }
    &__img{
        transition: transform 0.3s ease;
        &:hover{
            transform: scale(1.1);
        }
    }
}

.expirience__site-container-container{
    display: grid;
    justify-content: center;
}

.experience{
    &-container{
        margin-top: 7em;
        margin-bottom: 8em;
    }
    &__site{
        &-container{
            background-color: #1f2937;
            box-shadow: 0 3px 0.5em 1px var(--shadow-color);
            border-radius: 15px;
            display: grid;
            grid-template-columns: auto auto auto;
            justify-content: center;
            gap: 10%;
            max-width: 1200px;
            padding: 2em 2em 1em 2em;
            margin-bottom: 3.5em;
        }
        &__content{
            text-align: start;
            &__title{
                font-weight: bold;
                margin-left: 1.5em;
                padding-bottom: 0.5em;
            }
            &__list{
                max-width: 560px;
            }
        }
    }
}

.work{
    background-color: #1f2937;
    display: grid;
    grid-template-columns: auto auto;
    box-shadow: 0 3px 0.5em 1px var(--shadow-color);
    border-radius: 15px;
    padding: 4em 2em 2em 2em;
    margin-bottom: 3em;
    max-width: 1100px;
    gap: 15%;
    &-container{
        &-container{
            display: grid;
            justify-content: center;
        }
    }
    &__img{
        max-width: 100%;
        box-shadow: 0 3px 0.5em 1px var(--shadow-color);
        border-radius: 15px;
        transition: transform 0.3s ease;
        &:hover{
            transform: scale(1.03);
        }
        &-container{
            align-self: center;
        }
    }
    &__description{
        padding-bottom: 1em;
        &__element{
            background-color: var(--img-shadow-color);
            border-radius: 1em;
            padding: 0.3em 1.5em;
            font-size: 0.9em;
            display: inline-block;
            margin-right: 0.5em;
        }
        &-container{
            text-align: left;
        }
        &__title{
            padding-bottom: 1em;
            font-size: 1.3em;
            font-weight: bold;
        }
        &__link{
            padding-top: 1em;
            display: block;
        }
    }
}

.testimonials{
    &-container{
        padding-top: 10em;
        &-container{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        gap: 3%;
        }
    }
    &__comment{
        background-color: #1f2937;
        max-width: 365px;
        padding: 3.5em 3em 2em 3em;
        box-shadow: 0 3px 0.5em 1px var(--shadow-color);
        border-radius: 15px;
        &__person{
            padding-bottom: 1.2em;
        }
        &__content{
            text-align: left;
            font-size: 1.05em;
        }
        &__name{
            font-size: 1.2em;
            font-weight: bold;
        }
        &__position{
            margin-top: -1em;
            font-size: 0.9em;
        }
    }
}

#footer{
    max-width: 550px;
}

.footer{
    padding-top: 12em;
    text-align: center;
    &__description{
        display: grid;
        justify-content: center;
    }
    &__gmail{
        &::before{
            content: "";
            display: inline-block;
            width: 35px;
            height: 35px;
            background-image: url('images/dark-mail.png');
            background-size: cover;
            background-repeat: no-repeat;
            margin-right: 20px;
            vertical-align: middle;
        }
    }
    &__number{
        &::before{
            content: "";
            display: inline-block;
            width: 35px;
            height: 35px;
            background-image: url('images/dark-phone.png');
            background-size: cover;
            background-repeat: no-repeat;
            margin-right: 20px;
            vertical-align: middle;
        }
    }
    &__gmail,
    &__number{
        display: block;
        text-decoration: none;
        font-weight: 600;
        color: rgb(255, 255, 255);
        font-size: 2.3em;
        &::after{
            content: "";
            display: inline-block;
            width: 35px;
            height: 35px;
            background-image: url('images/dark-squares.png');
            background-size: cover;
            background-repeat: no-repeat;
            margin-left: 20px;
            vertical-align: middle;
            cursor: pointer;
        }
    }
    &__more-info{
        padding-top: 2em;
    }
    &__bottom-img{
        padding: 0.2em;
    }
    &__bottom{
        padding-top: 7em;
        font-size: 0.9em;
        &::before{
            content: "";
            display: inline-block;
            width: 18px;
            height: 18px;
            background-image: url('images/dark-C.png');
            background-size: cover;
            background-repeat: no-repeat;
            margin-right: 5px;
            vertical-align: middle;
        }
    }
}

.underlined {
    text-decoration: underline;
}

@media (width < 1024px) {
    .content-container {
        gap: 10%;
    }

    .content__img__shadow {
        width: 22em;
        height: 26em;
    }

    .content__img {
        width: 22em;
        top: -2.8em;
        left: 2.5em;
    }
    .skills{
        &__apps{
            grid-template-columns: repeat(6, auto);
            justify-content: unset;
            gap: 0;
        }
    }
    .testimonials{
        &-container{
            &-container{
            grid-template-columns: auto;
            gap: 5%;
            }
        }
        &__comment{
            max-width: 600px;
        }
    }
}

@media (width < 768px) {
    .navbar-brand {
        font-size: 26px;
        font-weight: bold;
    }

    .nav-item {
        align-self: normal;
    }

    .nav-download {
        width: 100%;
        margin-left: 0;
    }

    .title-container {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .about__title {
        margin-bottom: 0.5em;
    }

    .entering__title {
        font-weight: bold;
        font-size: 2.3em;
        color: black;
    }

    .entering__description {
        padding-bottom: 1.5em;
    }

    .entering__img-container {
        grid-row: 1;
        margin-top: 0;
        position: relative;
        justify-self: center;
    }

    .entering__img__shadow {
        width: 18em;
        height: 17.3em;
    }

    .entering__img {
        width: 15.5em;
        top: -1.5em;
        left: 1.2em;
    }

    .content-container {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        gap: 5%;
    }

    .content-container {
        grid-template-columns: auto;
    }

    .content__description-container {
        max-width: 100vh;
    }

    .content__description-title {
        font-size: 1.5em;
    }

    .content__img-container {
        justify-self: center;
    }

    .content__img__shadow {
        width: 21em;
        height: 21em;
    }

    .content__img {
        width: 18em;
        top: -1.8em;
        left: 1.5em;
    }
    .skills{
        &__apps{
            grid-template-columns: repeat(3, auto);
        }
    }
    .experience{
        &__site{
            &-container{
                grid-template-columns: auto;
                justify-content: start;
                gap: 0;
            }
            &__date{
                grid-row: 2;
                text-align: start;
                padding-top: 1.5em;
            }
            &__content{
                text-align: start;
                &__title{
                    margin-left: 0;
                }
                &__list{
                    &__element{
                        margin-left: -1.7em;
                    }
                }
            }
        }
    }
    .work{
        margin-top: -2em;
        grid-template-columns: auto;
        gap: 0;
            &-container{
                text-align: center;
            }
            &__img{
                width: 100%;
                &-container{
                    grid-row: 1;
                    padding-bottom: 5em;
                }
            }
            &__description{
                padding-bottom: 1em;
                &__element{
                    display: inline-block;
                }
                &-container{
                    text-align: left;
                }
                &__title{
                    padding-bottom: 1em;
                }
                &__link{
                    padding-top: 1em;
                }
            }
        }
    .content__description__list {
        grid-template-columns: auto;
    }
    .testimonials{
        &__comment{
            max-width: 800px;
        }
    }
    .footer{
        padding-top: 16em;
        &__description{
            font-size: 0.9em;
            padding: 1em;
        }
        &__gmail{
            &::before{
                width: 25px;
                height: 25px;
                margin-right: 5px;
            }
        }
        &__number{
            &::before{
                width: 25px;
                height: 25px;
                margin-right: 5px;
            }
        }
        &__gmail,
        &__number{
            font-size: 1.2em;
            &::after{
                width: 25px;
                height: 25px;
                margin-left: 5px;
            }
        }
    }
}