body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
}

main {
  padding: 0 20px;
}

.navbar-toggler {
  border: none;
}

.navbar {
  z-index: 1;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 0.3em 15px;
  border-bottom: 2px solid white;
}

.container-fluid {
  max-width: 1200px;
}

.navbar-brand {
  font-size: 30px;
  font-weight: bold;
}

.nav-item {
  color: rgb(131, 131, 131);
  align-self: center;
  padding-right: 0.5em;
  font-weight: 550;
}

.nav-download {
  background-color: black;
  color: white;
  border: 2px solid black;
  padding: 0.3em 1em;
  margin-left: 3em;
  border-radius: 12px;
}

.title-container {
  padding-top: 6.5em;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 10%;
  padding-bottom: 6em;
}

.info__img {
  width: 1.7em;
  margin-right: 0.5em;
}

.entering {
  max-width: 730px;
}
.entering__title {
  font-weight: bold;
  font-size: 3.6em;
  color: black;
}
.entering__description {
  padding-bottom: 2em;
}
.entering__img-container {
  margin-top: 3em;
  position: relative;
}
.entering__img__shadow {
  width: 17em;
  height: 19em;
  background-color: #e5e7eb;
}
.entering__img {
  width: 17.5em;
  border: 10px solid white;
  position: absolute;
  top: -3.2em;
  left: -2.8em;
}

.section__description {
  font-size: 1.3em;
  padding-bottom: 1em;
}

.green-dot {
  display: inline-block;
  background-color: rgb(1, 184, 1);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin-right: 1em;
  margin-left: 0.3em;
}

.entering__bottom-img {
  padding-right: 0.2em;
  margin-top: 2em;
}

.about-container {
  text-align: center;
  padding-top: 6em;
}

#about {
  margin-bottom: 3em;
}

.content-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 12.5%;
}
.content__title {
  font-size: 0.9em;
  font-weight: bold;
  display: inline-block;
  background-color: #e5e7eb;
  padding: 0.4em 1.55em;
  border-radius: 25px;
  margin-bottom: 1em;
}
.content__description-container {
  text-align: start;
  max-width: 550px;
}
.content__description-title {
  font-size: 1.8em;
  font-weight: 550;
  padding-bottom: 0.5em;
}
.content__description {
  padding-bottom: 0.9em;
}
.content__description__list {
  display: grid;
  grid-template-columns: auto auto;
}
.content__description__list__element {
  padding-right: 1.2em;
}
.content__img-container {
  margin-top: 3em;
  position: relative;
}
.content__img__shadow {
  width: 25em;
  height: 29.5em;
  background-color: #e5e7eb;
}
.content__img {
  border: 10px solid white;
  position: absolute;
  top: -3.2em;
  left: 2.8em;
}

.skills-container {
  background-color: white;
  padding-top: 5.5em;
  margin-top: 3em;
  padding-bottom: 4em;
}
.skills__apps {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(8, auto);
  gap: 3.5%;
}
.skills__description {
  padding-bottom: 1.5em;
}

.app {
  align-self: center;
}
.app__name {
  font-size: 1.2em;
}

.expirience__site-container-container {
  display: grid;
  justify-content: center;
}

.experience-container {
  margin-top: 7em;
  margin-bottom: 8em;
}
.experience__site-container {
  box-shadow: 0 3px 0.5em 1px rgb(224, 224, 224);
  border-radius: 15px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 10%;
  max-width: 1200px;
  padding: 2em 2em 1em 2em;
  margin-bottom: 3.5em;
}
.experience__site__content {
  text-align: start;
}
.experience__site__content__title {
  font-weight: bold;
  margin-left: 1.5em;
  padding-bottom: 0.5em;
}
.experience__site__content__list {
  max-width: 560px;
}

.work {
  display: grid;
  grid-template-columns: auto auto;
  box-shadow: 0 3px 0.5em 1px rgb(224, 224, 224);
  border-radius: 15px;
  padding: 4em 2em 2em 2em;
  margin-bottom: 3em;
  max-width: 1100px;
  gap: 15%;
}
.work-container-container {
  display: grid;
  justify-content: center;
}
.work__img {
  max-width: 100%;
  box-shadow: 0 3px 0.5em 1px rgb(224, 224, 224);
  border-radius: 15px;
  transition: transform 0.3s ease;
}
.work__img:hover {
  transform: scale(1.03);
}
.work__description {
  padding-bottom: 1em;
}
.work__description__element {
  background-color: #e5e7eb;
  border-radius: 1em;
  padding: 0.3em 1.5em;
  font-size: 0.9em;
  display: inline-block;
  margin-right: 0.5em;
}
.work__description-container {
  text-align: left;
}
.work__description__title {
  padding-bottom: 1em;
  font-size: 1.3em;
  font-weight: bold;
}
.work__description__link {
  padding-top: 1em;
  display: block;
}

.underlined {
  text-decoration: underline;
}

@media (width < 1024px) {
  .content-container {
    gap: 10%;
  }
  .content__img__shadow {
    width: 22em;
    height: 26em;
  }
  .content__img {
    width: 22em;
    top: -2.8em;
    left: 2.5em;
  }
  .skills__apps {
    grid-template-columns: repeat(6, auto);
    justify-content: unset;
    gap: 0;
  }
}
@media (width < 768px) {
  .navbar-brand {
    font-size: 26px;
    font-weight: bold;
  }
  .nav-item {
    align-self: normal;
  }
  .nav-download {
    width: 100%;
    margin-left: 0;
  }
  .title-container {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  .about__title {
    margin-bottom: 0.5em;
  }
  .entering__title {
    font-weight: bold;
    font-size: 2.3em;
    color: black;
  }
  .entering__description {
    padding-bottom: 1.5em;
  }
  .entering__img-container {
    grid-row: 1;
    margin-top: 0;
    position: relative;
    justify-self: center;
  }
  .entering__img__shadow {
    width: 18em;
    height: 17.3em;
  }
  .entering__img {
    width: 15.5em;
    top: -1.5em;
    left: 1.2em;
  }
  .content-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 5%;
  }
  .content-container {
    grid-template-columns: auto;
  }
  .content__description-container {
    max-width: 100vh;
  }
  .content__description-title {
    font-size: 1.5em;
  }
  .content__img-container {
    justify-self: center;
  }
  .content__img__shadow {
    width: 21em;
    height: 21em;
  }
  .content__img {
    width: 18em;
    top: -1.8em;
    left: 1.5em;
  }
  .skills__apps {
    grid-template-columns: repeat(3, auto);
  }
  .experience__site-container {
    grid-template-columns: auto;
    justify-content: start;
    gap: 0;
  }
  .experience__site__date {
    grid-row: 2;
    text-align: start;
    padding-top: 1.5em;
  }
  .experience__site__content {
    text-align: start;
  }
  .experience__site__content__title {
    margin-left: 0;
  }
  .experience__site__content__list__element {
    margin-left: -1.7em;
  }
  .work {
    margin-top: -2em;
    grid-template-columns: auto;
    gap: 0;
  }
  .work-container-container {
    display: grid;
    justify-content: center;
  }
  .work__img {
    width: 100%;
    box-shadow: 0 3px 0.5em 1px rgb(224, 224, 224);
    border-radius: 15px;
    transition: transform 0.3s ease;
  }
  .work__img-container {
    grid-row: 1;
    padding-bottom: 5em;
  }
  .work__img:hover {
    transform: scale(1.03);
  }
  .work__description {
    padding-bottom: 1em;
  }
  .work__description__element {
    background-color: #e5e7eb;
    border-radius: 1em;
    padding: 0.3em 1.5em;
    font-size: 0.9em;
    display: inline-block;
    margin-right: 0.5em;
  }
  .work__description-container {
    text-align: left;
  }
  .work__description__title {
    padding-bottom: 1em;
    font-size: 1.3em;
    font-weight: bold;
  }
  .work__description__link {
    padding-top: 1em;
    display: block;
  }
  .content__description__list {
    grid-template-columns: auto;
  }
}/*# sourceMappingURL=home.css.map */